$shade-map: (
  "100",
  "200",
  "300",
  "400",
  "500",
  "600",
  "700",
  "800",
  "900",
  "1000",
  "1100",
  "1200",
  "1300",
  "1400",
  "1500",
  "1600"
);

$h-map: (
  // neutral colors
  "grey": 0,

  // accent colors
  "plum": 328,
  "mist": 195,
  "pearl": 282,
  "jade": 185,
  "rust": 48,
  "aubergine": 325,
  "mahogany": 16,
  "olive": 130,

  // primary/theme colors
  "magenta": 328,
  "cyan": 195,
  "cyenta": 282,
  "teal": 185,
  "deep-orange": 48,
  "fuchsia": 325,
  "rose": 16,
  "lime": 130,

  // status colors
  "emerald": 155,
  "sky": 230,
  "amber": 70,
  "red": 30
);

$l-map: (
  "100": 98%,
  // 2
  "200": 96%,
  // 4
  "300": 92%,
  // 6
  "400": 86%,
  // 6
  "500": 80%,
  // 6
  "600": 74%,
  // 6
  "700": 68%,
  // 7
  "800": 61%,
  // 7
  "900": 54%,
  // 7
  "1000": 47%,
  // 7
  "1100": 40%,
  // 6
  "1200": 34%,
  // 6
  "1300": 28%,
  // 6
  "1400": 22%,
  // 6
  "1500": 16%,
  // 4
  "1600": 12%,
);

$primary-chroma-map: (
  "100": 0.02,
  "200": 0.04,
  "300": 0.08,
  "400": 0.15,
  "500": 0.18,
  "600": 0.23,
  "700": 0.27,
  "800": 0.25,
  "900": 0.22,
  "1000": 0.19,
  "1100": 0.16,
  "1200": 0.12,
  "1300": 0.09,
  "1400": 0.06,
  "1500": 0.04,
  "1600": 0.04,
);

$neutral-chroma-map: (
  "100": 0,
  "200": 0,
  "300": 0,
  "400": 0,
  "500": 0,
  "600": 0,
  "700": 0,
  "800": 0,
  "900": 0,
  "1000": 0,
  "1100": 0,
  "1200": 0,
  "1300": 0,
  "1400": 0,
  "1500": 0,
  "1600": 0,
);

$accent-chroma-map: (
  "100": 0.02,
  "200": 0.02,
  "300": 0.02,
  "400": 0.02,
  "500": 0.02,
  "600": 0.02,
  "700": 0.02,
  "800": 0.02,
  "900": 0.02,
  "1000": 0.02,
  "1100": 0.02,
  "1200": 0.02,
  "1300": 0.02,
  "1400": 0.02,
  "1500": 0.02,
  "1600": 0.02,
);

$chroma-map: (
  // neutral
  "grey": $neutral-chroma-map,

  // accent
  "plum": $accent-chroma-map,
  "mist": $accent-chroma-map,
  "rust": $accent-chroma-map,
  "pearl": $accent-chroma-map,
  "jade": $accent-chroma-map,
  "aubergine": $accent-chroma-map,
  "mahogany": $accent-chroma-map,
  "olive": $accent-chroma-map,

  // primary
  "magenta": $primary-chroma-map,
  "cyan": $primary-chroma-map,
  "deep-orange": $primary-chroma-map,
  "cyenta": $primary-chroma-map,
  "teal": $primary-chroma-map,
  "fuchsia": $primary-chroma-map,
  "rose": $primary-chroma-map,
  "lime": $primary-chroma-map,

  // status
  "emerald": $primary-chroma-map,
  "sky": $primary-chroma-map,
  "amber": $primary-chroma-map,
  "red": $primary-chroma-map
);

:root {
  @each $color, $chroma in $chroma-map {
    @each $shade in $shade-map {
      --#{$color}-#{$shade}: oklch(
        #{map-get($l-map, $shade)}
          #{map-get($chroma, $shade)}
          #{map-get($h-map, $color)}
      );
    }
  }
}
