.cyenta-pearl {
  --primary-100: var(--cyenta-100);
  --primary-200: var(--cyenta-200);
  --primary-300: var(--cyenta-300);
  --primary-400: var(--cyenta-400);
  --primary-500: var(--cyenta-500);
  --primary-600: var(--cyenta-600);
  --primary-700: var(--cyenta-700);
  --primary-800: var(--cyenta-800);
  --primary-900: var(--cyenta-900);
  --primary-900: var(--cyenta-900);
  --primary-1000: var(--cyenta-1000);
  --primary-1100: var(--cyenta-1100);
  --primary-1200: var(--cyenta-1200);
  --primary-1300: var(--cyenta-1300);
  --primary-1400: var(--cyenta-1400);
  --primary-1500: var(--cyenta-1500);
  --primary-1600: var(--cyenta-1600);

  --base-100: var(--pearl-100);
  --base-200: var(--pearl-200);
  --base-300: var(--pearl-300);
  --base-400: var(--pearl-400);
  --base-500: var(--pearl-500);
  --base-600: var(--pearl-600);
  --base-700: var(--pearl-700);
  --base-800: var(--pearl-800);
  --base-900: var(--pearl-900);
  --base-1000: var(--pearl-1000);
  --base-1100: var(--pearl-1100);
  --base-1200: var(--pearl-1200);
  --base-1300: var(--pearl-1300);
  --base-1400: var(--pearl-1400);
  --base-1500: var(--pearl-1500);
  --base-1600: var(--pearl-1600);
}

.rose-mahogany {
  --primary-100: var(--rose-100);
  --primary-200: var(--rose-200);
  --primary-300: var(--rose-300);
  --primary-400: var(--rose-400);
  --primary-500: var(--rose-500);
  --primary-600: var(--rose-600);
  --primary-700: var(--rose-700);
  --primary-800: var(--rose-800);
  --primary-900: var(--rose-900);
  --primary-900: var(--rose-900);
  --primary-1000: var(--rose-1000);
  --primary-1100: var(--rose-1100);
  --primary-1200: var(--rose-1200);
  --primary-1300: var(--rose-1300);
  --primary-1400: var(--rose-1400);
  --primary-1500: var(--rose-1500);
  --primary-1600: var(--rose-1600);

  --base-100: var(--mahogany-100);
  --base-200: var(--mahogany-200);
  --base-300: var(--mahogany-300);
  --base-400: var(--mahogany-400);
  --base-500: var(--mahogany-500);
  --base-600: var(--mahogany-600);
  --base-700: var(--mahogany-700);
  --base-800: var(--mahogany-800);
  --base-900: var(--mahogany-900);
  --base-1000: var(--mahogany-1000);
  --base-1100: var(--mahogany-1100);
  --base-1200: var(--mahogany-1200);
  --base-1300: var(--mahogany-1300);
  --base-1400: var(--mahogany-1400);
  --base-1500: var(--mahogany-1500);
  --base-1600: var(--mahogany-1600);
}

.fuchsia-aubergine {
  --primary-100: var(--fuchsia-100);
  --primary-200: var(--fuchsia-200);
  --primary-300: var(--fuchsia-300);
  --primary-400: var(--fuchsia-400);
  --primary-500: var(--fuchsia-500);
  --primary-600: var(--fuchsia-600);
  --primary-700: var(--fuchsia-700);
  --primary-800: var(--fuchsia-800);
  --primary-900: var(--fuchsia-900);
  --primary-900: var(--fuchsia-900);
  --primary-1000: var(--fuchsia-1000);
  --primary-1100: var(--fuchsia-1100);
  --primary-1200: var(--fuchsia-1200);
  --primary-1300: var(--fuchsia-1300);
  --primary-1400: var(--fuchsia-1400);
  --primary-1500: var(--fuchsia-1500);
  --primary-1600: var(--fuchsia-1600);

  --base-100: var(--aubergine-100);
  --base-200: var(--aubergine-200);
  --base-300: var(--aubergine-300);
  --base-400: var(--aubergine-400);
  --base-500: var(--aubergine-500);
  --base-600: var(--aubergine-600);
  --base-700: var(--aubergine-700);
  --base-800: var(--aubergine-800);
  --base-900: var(--aubergine-900);
  --base-1000: var(--aubergine-1000);
  --base-1100: var(--aubergine-1100);
  --base-1200: var(--aubergine-1200);
  --base-1300: var(--aubergine-1300);
  --base-1400: var(--aubergine-1400);
  --base-1500: var(--aubergine-1500);
  --base-1600: var(--aubergine-1600);
}

.lime-olive {
  --primary-100: var(--lime-100);
  --primary-200: var(--lime-200);
  --primary-300: var(--lime-300);
  --primary-400: var(--lime-400);
  --primary-500: var(--lime-500);
  --primary-600: var(--lime-600);
  --primary-700: var(--lime-700);
  --primary-800: var(--lime-800);
  --primary-900: var(--lime-900);
  --primary-900: var(--lime-900);
  --primary-1000: var(--lime-1000);
  --primary-1100: var(--lime-1100);
  --primary-1200: var(--lime-1200);
  --primary-1300: var(--lime-1300);
  --primary-1400: var(--lime-1400);
  --primary-1500: var(--lime-1500);
  --primary-1600: var(--lime-1600);

  --base-100: var(--olive-100);
  --base-200: var(--olive-200);
  --base-300: var(--olive-300);
  --base-400: var(--olive-400);
  --base-500: var(--olive-500);
  --base-600: var(--olive-600);
  --base-700: var(--olive-700);
  --base-800: var(--olive-800);
  --base-900: var(--olive-900);
  --base-1000: var(--olive-1000);
  --base-1100: var(--olive-1100);
  --base-1200: var(--olive-1200);
  --base-1300: var(--olive-1300);
  --base-1400: var(--olive-1400);
  --base-1500: var(--olive-1500);
  --base-1600: var(--olive-1600);
}

.teal-jade {
  --primary-100: var(--teal-100);
  --primary-200: var(--teal-200);
  --primary-300: var(--teal-300);
  --primary-400: var(--teal-400);
  --primary-500: var(--teal-500);
  --primary-600: var(--teal-600);
  --primary-700: var(--teal-700);
  --primary-800: var(--teal-800);
  --primary-900: var(--teal-900);
  --primary-900: var(--teal-900);
  --primary-1000: var(--teal-1000);
  --primary-1100: var(--teal-1100);
  --primary-1200: var(--teal-1200);
  --primary-1300: var(--teal-1300);
  --primary-1400: var(--teal-1400);
  --primary-1500: var(--teal-1500);
  --primary-1600: var(--teal-1600);

  --base-100: var(--jade-100);
  --base-200: var(--jade-200);
  --base-300: var(--jade-300);
  --base-400: var(--jade-400);
  --base-500: var(--jade-500);
  --base-600: var(--jade-600);
  --base-700: var(--jade-700);
  --base-800: var(--jade-800);
  --base-900: var(--jade-900);
  --base-1000: var(--jade-1000);
  --base-1100: var(--jade-1100);
  --base-1200: var(--jade-1200);
  --base-1300: var(--jade-1300);
  --base-1400: var(--jade-1400);
  --base-1500: var(--jade-1500);
  --base-1600: var(--jade-1600);
}
